<%- include("../partials/header.ejs") %>
<!-- nav -->
<nav class="navbar bg-transparent mb-3">
  <div class="container-md d-flex justify-content-center border-bottom">
    <h5 class="mb-2">Inbox</h5>
  </div>
</nav>

<% if (locals.user && locals.messages && Object.keys(locals.messages).length >
0) { %>
<div class="container-md">
  <ul class="list-group">
    <% for (const roomId in messages) { %>
    <li class="list-group-item">
      <!-- Lấy thông tin sender_id và receiver_id từ messages -->
      <a
        class="d-flex text-black"
        href="/chat_messages?id_user=<%= messages[roomId].receiver_id == user.id_user ? messages[roomId].sender_id : messages[roomId].receiver_id %>"
      >
        <img
          class="rounded-circle"
          style="width: 50px; height: auto"
          src="./images/user.jpg"
          alt="logo_user"
        />
        <div class="d-flex justify-content-between align-items-start w-100">
          <div class="ms-2 me-auto">
            <div class="fw-bold"><%= messages[roomId].username %></div>
            <p class="m-0"><%= messages[roomId].message %></p>
          </div>
          <% if(messages[roomId].receiver_id == user.id_user &&
          !messages[roomId].is_read) {%>
          <span class="badge bg-primary rounded-pill p-2"
            ><i class="fa-regular fa-circle"></i
          ></span>
          <% } %>
        </div>
      </a>
    </li>
    <% } %>
  </ul>
</div>
<% } else { %>
<h4 class="text-center">Bạn chưa có đoạn chat nào!</h4>
<% } %> <%- include("../partials/footer.ejs") %>
