<%- include("./partials/header.ejs") %> <% if (locals.user) { %>
<!-- nav -->
<nav class="navbar bg-transparent mb-3">
  <div class="container-md d-flex justify-content-center border-bottom">
    <h5 class="mb-2">Notification</h5>
  </div>
</nav>
<!-- content -->
<div class="content container-md mt-3">
  <div class="title">
    <!-- list group notif -->
    <div class="list-group">
      <% if (notification.length > 0) { %> <% for (let index = 0; index <
      notification.length; index++) { %>
      <a
        href="#"
        class="list-group-item list-group-item-action mb-2 rounded border"
      >
        <div class="d-flex">
          <!-- icon -->
          <div class="d-flex align-items-center">
            <img
              class="rounded-circle me-2"
              style="width: 50px; height: auto"
              src="./images/user.jpg"
              alt="logo_user"
            />
          </div>
          <!-- information notification -->
          <div class="w-100">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1"><%= notification[index].title %></h5>
            </div>
            <p class="mb-1"><%= notification[index].message %></p>
            <small><%= notification[index].created_at %></small>
          </div>
        </div>
      </a>
      <% } %> <% } else { %>
      <h4>Bạn không có thông báo nào</h4>
      <% } %>
    </div>
  </div>
</div>
<% } else { %>
<a href="/login-signUp" class="text-center">
  <h3>Vui lòng đăng nhập</h3>
</a>
<% } %> <%- include("./partials/footer.ejs") %>
