<%- include("./partials/header.ejs") %>
<!-- Navbar -->
<nav class="navbar bg-transparent">
  <div class="container-md d-flex justify-content-center border-bottom">
    <h5 class="mb-3">Profile</h5>
  </div>
</nav>

<% if (locals.user || locals.userOther) { %> <% if (locals.errorMessage) { %>
<!-- Alert -->
<div class="container-md d-flex justify-content-center align-items-center">
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>Wrong!</strong> <%= errorMessage %>
    <button
      type="button"
      class="close border-0 bg-transparent"
      data-dismiss="alert"
    >
      <i class="fa-solid fa-x"></i>
    </button>
  </div>
</div>
<% } %> <% if (locals.session) { %>
<div class="container-md mt-2">
  <div class="header d-flex flex-column align-items-center mt-2">
    <!-- User Logo -->
    <img
      class="rounded-circle"
      style="width: 50px; height: auto"
      src="./images/user.jpg"
      alt="logo_user"
    />
    <!-- User Name -->
    <p class="mt-3 text-center font-weight-bold"><%= user.name %></p>
    <!-- Edit Profile Button -->
    <button
      type="button"
      class="btn w-100 btn-primary border-0"
      data-bs-toggle="modal"
      data-bs-target="#exampleModal"
    >
      Edit Profile
    </button>
    <!-- friend quản lí -->
    <button type="button" class="btn w-100 btn-primary border-0 mt-3">
      <a href="/friend"><p class="text-white p-0 m-0">Quản lí bạn bè</p></a>
    </button>
  </div>

  <!-- User Information -->
  <div class="information mt-5">
    <div class="list-group">
      <p class="list-group-item border-0 border-bottom">
        Email: <%= user.email %>
      </p>
    </div>
  </div>
</div>
<!-- modal  -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Change Profile</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form action="/edit-profile" method="post">
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Name:</label>
            <input
              type="text"
              class="form-control"
              name="name"
              value="<%= user.name %>"
            />
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Email:</label>
            <input
              type="text"
              class="form-control"
              name="email"
              value="<%= user.email %>"
            />
          </div>
          <input type="hidden" value="<%= user.id_user %>" name="id_user" />
          <div class="mt-5">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button type="submit" class="btn btn-primary">Save Changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<% }else{ %>
<!-- người dùng khác  -->
<div class="container-md mt-2">
  <div class="header d-flex flex-column align-items-center mt-2">
    <img
      class="rounded-circle"
      style="width: 50px; height: auto"
      src="./images/user.jpg"
      alt="logo_user"
    />
    <p class="mt-3 text-center font-weight-bold"><%= userOther.name %></p>
  </div>
  <!-- các trường hợp xảy ra là nếu ko tồn tại accept và send_req_friend thì là chưa
  gửi yêu cầu và chưa kết bạn Nếu có cả 2 cái đó thì nếu send_req_friend =
  dong_t thì là cần xác nhận nếu người send_req_friend là huy thì là hủy lời mời kết bạn Nếu
  accept là 1 thì là đã kết bạn và cần nút hủy kết bạn -->

  <% if(locals.accept && locals.accept == "1") {%>
  <!-- đã kết bạn -->

  <!-- !locals.accept && !locals.id_friend_tb -->
  <!-- locals.user -->
  <button class="btn w-100 btn-primary border-0 mb-3" disabled>Bạn Bè</button>
  <% if(locals.id_friend_tb){ %>
  <form action="/addFriend" method="post">
    <input type="hidden" value="<%= id_friend_tb %>" name="id_friend_tb" />
    <button
      type="submit"
      class="btn w-100 btn-primary border-0"
      value="huy"
      name="type"
    >
      Hủy kết bạn
    </button>
  </form>
  <% }else{ %>
  <!-- xử lý ko tồn tại id  -->
  <button
    type="submit"
    class="btn w-100 btn-primary border-0"
    value="huy"
    name="type"
    disabled
  >
    Hủy kết bạn
  </button>
  <% }} else if(!locals.accept && locals.send_req_friend &&
  locals.send_req_friend == "dong_y" ){%>

  <!-- xác nhận  -->
  <form action="/addFriend" method="post">
    <input type="hidden" value="<%= userOther.id_user %>" name="id_user" />
    <button
      type="submit"
      class="btn w-100 btn-primary border-0"
      value="xn"
      name="type"
    >
      Xác nhận kết bạn
    </button>
  </form>

  <% } else if(!locals.accept && locals.send_req_friend &&
  locals.send_req_friend == "huy" ){ %> <% if(locals.id_friend_tb){ %>
  <form action="/addFriend" method="post">
    <input type="hidden" value="<%= id_friend_tb %>" name="id_friend_tb" />
    <button
      type="submit"
      class="btn w-100 btn-primary border-0"
      value="huy"
      name="type"
    >
      Hủy lời mời
    </button>
  </form>
  <% }else{ %>
  <!-- xử lý ko tồn tại id  -->
  <button
    type="submit"
    class="btn w-100 btn-primary border-0"
    value="huy"
    name="type"
    disabled
  >
    Hủy lời mời
  </button>
  <% }}else{ %> <% if( locals.user){ %>

  <!-- kết bạn  -->
  <form action="/addFriend" method="post">
    <input type="hidden" value="<%= userOther.id_user %>" name="id_friend" />
    <input type="hidden" value="<%= user.id_user %>" name="id_user" />
    <button
      type="submit"
      class="btn w-100 btn-primary border-0"
      value="add"
      name="type"
    >
      Kết bạn
    </button>
  </form>
  <% } else{ %>
  <form action="/addFriend" method="post">
    <button
      type="submit"
      class="btn w-100 btn-primary border-0"
      value="add"
      name="type"
    >
      Kết bạn
    </button>
  </form>
  <%} } %>
  <div class="information mt-5">
    <div class="list-group">
      <p class="list-group-item border-0 border-bottom">
        Email: <%= userOther.email %>
      </p>
    </div>
  </div>
</div>
<%- include("./partials/footer.ejs") %> <% }} else { %>
<div class="container d-flex justify-content-center">
  <a href="/login-signUp">
    <h1>Please click here to log in.</h1>
  </a>
</div>
<% } %> <%- include("./partials/footer.ejs") %>
