<%- include("../partials/header.ejs") %>

<div class="container mt-sm-4 mb-5">
  <!-- Hiển thị thông báo lỗi nếu có -->
  <% if (locals.errorMessage) { %>
  <div class="alert alert-danger alert-dismissible fade show mt-5" role="alert">
    <strong>Wrong!</strong> <%= locals.errorMessage %>
    <button
      type="button"
      class="close border-0 bg-transparent"
      data-dismiss="alert"
      aria-label="Close"
    >
      <i class="fa-solid fa-x"></i>
    </button>
  </div>
  <a href="/login-signUp" class="text-center">
    <h1>Please click here to log in.</h1>
  </a>
  <% } else if (locals.user) { %>
  <!-- sắp xếp  -->
  <div class="dropdown border-0">
    <button
      class="btn btn-secondary dropdown-toggle"
      type="button"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      <i class="fa-solid fa-arrow-down-short-wide"></i>
      Sắp xếp
    </button>
    <ul class="dropdown-menu">
      <li>
        <form action="/allTask" method="get">
          <button
            class="dropdown-item"
            type="submit"
            value="id_tasks"
            name="sort"
          >
            Sắp xếp theo thứ tự thêm
          </button>
        </form>
      </li>
      <li>
        <form action="/allTask" method="get">
          <button
            class="dropdown-item"
            type="submit"
            value="priority"
            name="sort"
          >
            Sắp xếp theo độ quan trọng
          </button>
        </form>
      </li>
      <li>
        <form action="/allTask" method="get">
          <button class="dropdown-item" type="submit" value="name" name="sort">
            Sắp xếp theo tên
          </button>
        </form>
      </li>
      <li>
        <form action="/allTask" method="get">
          <button
            class="dropdown-item"
            type="submit"
            value="start_date"
            name="sort"
          >
            Sắp xếp theo ngày bắt đầu
          </button>
        </form>
      </li>
      <li>
        <form action="/allTask" method="get">
          <button
            class="dropdown-item"
            type="submit"
            value="due_date"
            name="sort"
          >
            Sắp xếp theo ngày hết hạn
          </button>
        </form>
      </li>
    </ul>
  </div>
  <!-- content  -->
  <div class="row gap-3 justify-content-center mb-5 pb-5">
    <% if (Array.isArray(locals.tasks) && locals.tasks.length > 0) { %> <%
    locals.tasks.forEach((task) => { %>
    <div class="card col-md-3 p-0">
      <div class="card-header bg-transparent">
        <strong>Name: <%= task.name %></strong>
      </div>
      <div class="card-body p-0">
        <div class="list-group p-0 rounded-0 border-0">
          <a
            href="#"
            class="list-group-item list-group-item-action border-0 bg-secondary text-white"
          >
            Description: <%= task.description %>
          </a>
          <a
            href="#"
            class="list-group-item list-group-item-action border-0 border-bottom"
          >
            Priority: <%= task.priority == 1 ? "High" : task.priority == 2 ?
            "Medium" : "Low" %>
          </a>
          <a
            href="#"
            class="list-group-item list-group-item-action border-0 border-bottom"
          >
            Type: <%= task.type == 1 ? "Personal" : "Business" %>
          </a>
          <a
            href="#"
            class="list-group-item list-group-item-action border-0 border-bottom"
          >
            Start Date: <%= task.start_date %>
          </a>
          <a
            href="#"
            class="list-group-item list-group-item-action border-0 border-bottom"
          >
            Due Date: <%= task.due_date %>
          </a>
        </div>
      </div>

      <a
        href="/detail_task?id_tasks=<%= task.id_tasks %>"
        class="btn btn-primary border-0 rounded-0 rounded-bottom"
      >
        Xem chi tiết
      </a>
    </div>
    <% }); %> <% } else { %>
    <h2 class="text-center">No tasks available</h2>
    <% } %>
  </div>
  <% } else { %>
  <a href="/login-signUp" class="text-center">
    <h1>Please click here to log in.</h1>
  </a>
  <% } %>
</div>

<%- include("../partials/footer.ejs") %>
